<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
 url(https://d2bgjx2gb489de.cloudfront.net/gbb-blogs/wp-content/uploads/2019/10/28144627/Z%C3%BCrich-city-center-with-river-Limmat-Switzerland-94844524-870x400.jpg);">
  <div class="container">
    <%= render "shared/form" %>
  </div>
</div>
