<div class="banner">
  <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag('https://res.cloudinary.com/diokvkwbd/image/upload/v1678875055/carousel_1_caerll.jpg', class: "d-block w-100") %>
        </div>
        <div class="carousel-item">
          <%= image_tag('https://res.cloudinary.com/diokvkwbd/image/upload/v1678875055/carousel_2_c0ygbo.jpg', class: "d-block w-100")%>
        </div>
        <div class="carousel-item">
          <%= image_tag('https://res.cloudinary.com/diokvkwbd/image/upload/v1678875055/carousel3_pxmboc.jpg', class: "d-block w-100")%>
        </div>
    </div>
    <div class="container banner-search">
      <%= render "shared/form" %>
    </div>
  </div>
</div>
