 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%=place_header_photo_url(@place)%>')">
    <div class="card-info" >
      <div><h2><%= @place.name%></h2></div>
      <div><i class="fa-solid fa-location-dot"></i> <%= @place.address %></div>
      <div><%= "#{@reviews.length} people have reviewed"%></div>
      <li class="list-group-item"> <% @avg_review.to_i.times do %>
      <i class="fa-solid fa-star"></i>
      <% end %>
    </div>
 </div>
