
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/diegoOmegna/accecity"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Accecity<i class="fa-regular fa-copyright"></i> Design and developed by DKD Software development GMBH
  </div>
</div>
