
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @places.each do |place| %>
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url(https://www.zuerich.com/sites/default/files/image/2022/web_zurich_landesmuseum_ZT_22616_1280x960.jpg)">
          <div class="d-flex flex-column">
            <div class="p-2"> <%= place.name %></div>
            <div class="p-2"><i class="fa-solid fa-location-dot"></i> <%= place.address %></div>
            <div class="p-2">Rating <%= @avg_review %></div>
          </div>
        </div>
      </div> <%# <%= cl_image_tag place.header_photo.key %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
