
<div class="container">
  <h2> <%= @place.name %> <h2>
  <p>  <%= @place.details %> </p>
  <p>  <%= @place.address %> </p>
  <img src="https://picsum.photos/300/300" />
</div>

<% @article.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
